In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns; sns.set()

In [2]:
train = pd.read_csv("bitcoin_price_Training - Training.csv")
test = pd.read_csv("bitcoin_price_1week_Test - Test.csv")

In [3]:
train = train[::-1]
test = test[::-1]

In [4]:
train.head()

              Date    Open    High     Low   Close Volume     Market Cap
1555  Apr 28, 2013  135.30  135.98  132.10  134.21      -  1,500,520,000
1554  Apr 29, 2013  134.44  147.49  134.00  144.54      -  1,491,160,000
1553  Apr 30, 2013  144.00  146.93  134.05  139.00      -  1,597,780,000
1552  May 01, 2013  139.00  139.89  107.72  116.99      -  1,542,820,000
1551  May 02, 2013  116.38  125.60   92.28  105.21      -  1,292,190,000

In [5]:
train = train['Close'].values.astype('float32')
test = test['Close'].values.astype('float32')

In [7]:
print(train)

[ 134.21  144.54  139.   ... 2726.45 2757.18 2875.34]

In [8]:
print(test)

[2718.26 2710.67 2804.73 2895.89 3252.91 3213.94 3378.94]